* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    flex: initial;
    background-image: url(img/sprucelog.png);
    min-height: 128px;
    box-shadow: 0px 10px 50px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header>button {
    height: 50px;
    width: 340px;
    background: #727272;
    background-image: url('https://i.ibb.co/rb2TWXL/bgbtn.png');
    background-size: contain;
    image-rendering: pixelated;
    border: 2px solid #000;
    font-family: 'Minecraftia';
    font-size: 1.5em;
    color: #DDD;
    text-shadow: 2px 2px #000A;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
}

button:hover {
    background: rgba(115, 107, 221, 1);
    text-shadow: 2px 2px #202013CC;
    color: #FFFFA0;
}

.bookshelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url('img/woodplank.png');
    position: relative;
    flex: 5;
}

.overlay {
    visibility: hidden;
    position: absolute;
}

.active .overlay {
    visibility: visible;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
}

.active .popup {
    background-color: #fff;
    height: 540px;
    width: 438px;
    background: transparent;
    background-size: contain;
    background-image: url(img/book.png);
    padding: 50px;
    padding-top: 70px;
    font-family: 'Minecraftia';
    text-shadow: 2px 2px rgba(165, 165, 165, 0.667);
    font-size: 1.2rem;
    margin-top: 100px;
}

.active .input {
    display: flex;
    gap: 5px;
    margin-top: 60px;
}

.active .popup input {
    font-family: 'Minecraftia';
    background-color: transparent;
    border: 0;
    border-bottom: 1px ridge black;
    outline: 0;
    width: 10rem;
    color: rgb(75, 75, 75);
}

.active .popup #submit {
    width: 100%;
    font-size: 1.6rem;
    border: 0;
    color: #f3f734;
    text-shadow: 2px 2px rgba(97, 97, 97, 0.747);
    font-family: 'Minecraftia';
    background-color: transparent;
}

.active .popup #submit:hover {
    color: #f5d000;
}

.book {
    background-image: url('img/bookshelf.png');
    background-size: 250px;
    box-shadow: 0px 0px 25px 3px;
    flex: initial;
    margin: 120px;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book > * {
    flex: 1;
    color: #fff;
    font-family: 'Minecraftia';
    font-size: 1.4rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.747);
    display: flex;
    align-items: center;
}

